{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading font-bold">Edytuj notkę</div>
        <div class="panel-body">
            {{ form_start(form) }}
            <div class="form-group {% if form_errors(form.title) %}has-error{% endif %}">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.title) %}
                    <div class="alert alert-danger">
                        {{ form.title.vars.errors[0].message }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group {% if form_errors(form.note) %}has-error{% endif %}">
                {{ form_label(form.note) }}
                {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.note) %}
                    <div class="alert alert-danger">
                        {{ form.note.vars.errors[0].message }}
                    </div>
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

