{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Notatnik</h1>
    {% if notes %}
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Tytuł</th>
                <th>Notka</th>
                <th>Data edycji</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.title }}</td>
                    <td>{{ note.note }}</td>
                    <td>{{ note.updatedAt|date('d-m-Y H:m:s') }}</td>
                    <td>
                        <a href="{{ path('edit', {id: note.id}) }}"><i class="material-icons">mode_edit</i></a>
                        <a href="{{ path('delete', {id: note.id}) }}"
                           onclick="return confirm('Potwierdź aby usunąć.');"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">
            Brak notek.
        </div>
    {% endif %}
{% endblock %}